GATOR_MAIL_FILTER_DB_URL=jdbc:postgresql://127.0.0.1:6432/db_gatormail
GATOR_MAIL_FILTER_DB_USER=gator_mail_filter
GATOR_MAIL_FILTER_DB_PASSWORD=replace-me
GATOR_MAIL_FILTER_IMAP_HOST=127.0.0.1
GATOR_MAIL_FILTER_IMAP_PORT=993
GATOR_MAIL_FILTER_MASTER_USER=gator-mail-filter
GATOR_MAIL_FILTER_MASTER_SECRET_FILE=/etc/gator-mail-filter/imap-master.secret
GATOR_MAIL_FILTER_MASTER_SEPARATOR=*
GATOR_MAIL_FILTER_REFRESH_SECONDS=15
GATOR_MAIL_FILTER_MAX_ATTEMPTS=5
